:root {
  --bg-black: #0F0F0F;
  --bg-blue: #2CAEFF;
  --bg-gray: #DFE4EA;
  
  --txt-dark: #0F0F0F;
  --txt-white: #F9F9F9;
  --txt-stroke: #DFE4EA;

  --primary-bg: var(--bg-black);
  --primary-color: var(--txt-white);
}

* {
  margin: 0;
  padding: 0;
}

.dark-theme {
  --primary-bg: var(--bg-black);
  --primary-color: var(--txt-white);
}

.blue-theme {
  --primary-bg: var(--bg-blue);
  --primary-color: var(--txt-white);
}

.gray-theme {
  --primary-bg: var(--bg-gray);
  --primary-color: var(--txt-dark);
}

.icons-color {
  fill: var(--primary-color);
}

.icons-size {
  height: 100%;
  width: 100%;
}

.icons-color > svg {
  height: 100%;
  width: 100%;
  fill: var(--primary-color);
}

body {
  background: var(--bg-black);
  color: var(--txt-dark);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

.mainText {
  color: var(--txt-white);
  fill: var(--txt-white);
}